html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 3;
}

header{
    height: 20%;
    width: 560px;
    margin: auto;
    margin-bottom: 1%;
    background-color: rgb(29, 29, 29);
    
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
}

nav{
    z-index: 2;
    height: 10%;
    width: 560px;
    background-color: rgb(49, 49, 49);
    margin: auto;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}

nav div{
    margin: 0 10px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

nav p{
    color: rgb(117, 117, 117);
    cursor: pointer;
}

section{
    height: 50%;
    width: 560px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(59, 59, 59);
    z-index: 2;
    position: relative;
}

footer{
    height: 20%;
    width: 560px;
    background-color: rgb(29, 29, 29);
    z-index: -2;
    margin: auto;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 2;
    position: relative;
}

#title{
    color: white;
    font-size: 40px;
    cursor: pointer;
}

#credit{
    color: rgb(98, 98, 98);
    margin: 10px 10px;
    cursor: pointer;
}

.eye{
    position: absolute;
    top: 0;
    height: 14%;
}

#mp3{
    position: absolute;
    opacity: 0;
    top:0;
    z-index: -1;
}

section p{
    color: rgb(180, 180, 180);
}

#noise{
    z-index: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
}